body {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	background-color: #cfcfcf;
}

h1 {
	color: #052c3b;
}

.main {
	background-color: #a1d9ef;
	width: 60%;
	float: left;
	margin: 10px;
	padding-left: 50px;
	margin-bottom: 10px;
	border: 2px solid #333330;
}
.energia-inner {
	margin: 0 auto;
	max-width: 1400px;
	
}
.energia-content {
	padding: 50px 70px 50px 250px;
}
.energia-content li {
	;
}
.main .col {
	width: 40%;
	
}