@charset "utf-8";
body {
/* veebi taustavärv */
	background-color: #9AA491;
/* teksti värv */
	color: #0E1034;
/* teksti suurus */
	font-size: 16px;
	font-family: 'Pacifico', cursive, arial, sans-serif;
}

h1 {
		font-size: 32px;
		color: #6d0323;
		text-align: center;
}

b	{
	color: #6d0323;
}

i	{
	color: #077d97;
}
.box {
	width: 25%;
	float: left;
	padding: 20px;
	border: 10px solid #EC8567;
	margin-top: 20px;
	margin-left: 20px;
	
}
.box-one {
	height: 100px;
	background-color: #40EAF2;
}

.box-two {
	height: 100px;
	background-color: #FAF438;
}

.box-three {
	height: 100px;
	background-color: #FB3772;
}